<%= render partial: 'shared/navtabs', :locals => {:tabcontent => 'Admin', :activetab => 'Create Project',:overridetab => 'Update Language'} %>
  <div class="admincontainer">
    <%= render partial: 'languageform' %>
  </div>
<%= render partial: 'shared/tabfooter' %>
