<div class="card"> 
    <ul class="nav nav-tabs" id="myTab">
        <li><%= link_to "Manage Site", sitemgmt_path %></li>
        <li><%= link_to "Manage Posts", root_path %></li>
        <li><%= link_to "Manage Projects", root_path %></li>
        <li class="active"><%= link_to "Create Post", new_post_path %></li>
    </ul>
    <div class="tab-content">