<div class="card">
    <div class="card-heading image">
        <%= link_to "#{image_tag("http://images2.fanpop.com/image/photos/9700000/Sad-Puppy-puppies-9726248-1600-1200.jpg")}".html_safe, project_path(@project.id), :class => "pull-right" %>
        <div class="card-heading-header">
            <h1><%= @project.name %></h1>
            <h3><span><%= @project.snippet %></span></h3>
        </div>
    </div>
    <hr>
    <div class="card-body">
        <p>Just some content
        </p>
    </div>
</div>