<li class="span4">
    <div class="thumbnail">
        <%= image_tag("5.png") %>
        <div class="caption">
            <h3><%= link_to "#{name}", project_path(id) %></h3>
        </div>
    </div>
</li>