<% projects.each do |p| %>
  <div class="row-fluid">
    <div class="span12">
      <ul class="thumbnails">
        <% p.each do |id,name,picture,languages| %>
                <%= render partial: 'projectcard', :locals => {:name => name, :id => id, :picture => picture, :languages => languages} %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>