<div class="row-fluid">
    <div class="span12 toolbar">
        By Technology:
        <%= link_to 'All', '#', :class => 'btn btn-filter-language-toolbar active', :id => 'all', :role => 'button' %>
        <% @languages.each do |l| %>
          <%= link_to l.name, '#', :class => 'btn btn-filter-language-toolbar', :id => l.id, :role => 'button' %>
        <% end %>
    </div>
</div>
