<%= render partial: 'shared/admintabs', :locals => {:activetab => 'Create Project',:overridetab => 'Update Project'} %>
	<div class="admincontainer">
		<%= render partial: 'manageproject' %>
	</div>
<%= render partial: 'shared/adminfooter' %>