<% @projects.each do |p| %>
    <div class="row-fluid">
        <ul class="thumbnails">
            <% p.each do |name, id| %>
            <%= render partial: 'projectcard', :locals => {:name => name, :id => id} %>
            <% end %>
        </ul>
    </div>
<% end %>