<%= render partial: 'shared/navtabs', :locals => {:tabcontent => 'Admin', :activetab => 'Create Project', :overridetab => 'Create Project'} %>
	<div class="admincontainer">
		<%= render partial: 'manageproject' %>
	</div>
<%= render partial: 'shared/tabfooter' %>
