<%= render partial: 'shared/navtabs', :locals => {:tabcontent => 'Admin', :activetab => 'Manage User Details',:overridetab => ''} %>
	<div class="admincontainer">
		<%= render partial: 'manageuserdetail' %>
	</div>
<%= render partial: 'shared/tabfooter' %>