<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Someone has liked your post: <%= link_to @post.name, post_url(@post) %></p>
  </body>
</html>