<%= render partial: 'shared/admintabs', :locals => {:activetab => 'Manage Posts'} %>
	<div class="admincontainer">
		<%= render partial: 'managepost' %>
	</div>
<%= render partial: 'shared/adminfooter' %>