<%= render partial: 'shared/navtabs', :locals => {:tabcontent => 'Admin',:activetab => 'Create Post',:overridetab => 'Update Post'} %>
	<div class="admincontainer">
		<%= render partial: 'managepost' %>
	</div>
<%= render partial: 'shared/tabfooter' %>
