<%= render partial: 'shared/navtabs', :locals => {:tabcontent => 'Admin', :activetab => 'Create Post', :overridetab => 'Create Post'} %>
	<div class="admincontainer">
		<%= render partial: 'managepost' %>
	</div>
<%= render partial: 'shared/tabfooter' %>
