<%= render partial: 'shared/admintabs', :locals => {:activetab => 'Create Post', :overridetab => 'Create Post'} %>
	<div class="admincontainer">
		<%= render partial: 'managepost' %>
	</div>
<%= render partial: 'shared/adminfooter' %>