<%= render partial: 'shared/navtabs', :locals => {:tabcontent => 'Admin', :activetab => 'Create Project',:overridetab => 'Update Category'} %>
	<div class="admincontainer">
		<%= render partial: 'categoryform' %>
	</div>
<%= render partial: 'shared/tabfooter' %>