<div id="footer">
	<div class="container ">
		<p class="muted credit pull-right "> Simple footer looks good <a href="index.html">Home</a> | <a href="gallery.html">Photo Gallery</a> | <a href="topic.html">Topics/Categories</a> | <a href="blank.html"> Sample Page</a>.</p>
	</div>
</div>