<!-- LEFT FIXED SIDE BAR -->
<div class="span3">
    <div class="sidebar-nav-fixed affix">

        <div class="card hovercard">

            <img src="assets/img/b-cover.jpg" alt="image avatar" />
            <div class="avatar">
                <img src="assets/img/logo.png" alt="image avatar"/>
            </div>
            <div class="info">
                <div class="title">
                    <h2>Andrew Platkin</h2>
                </div>
                <div class="desc">This is a sample description that I would put</div>
            </div>
        </div>
    </div>
</div>