<!-- LEFT FIXED SIDE BAR -->
<div class="span3">
    <div class="sidebar-nav-fixed affix">
        <div class="card hovercard">
            <%= image_tag "b-cover.jpg", alt: "Cover Photo" %>
            <div class="avatar">
                <%= image_tag "logo.png", alt: "Profile Picture" %>
            </div>
            <div class="info">
                <div class="title">
                    <h2><%= @metadata.title %></h2>
                </div>
                <div class="desc"><%= @metadata.description %></div>
            </div>
        </div>
    </div>
</div>